n8n-examples/alert-handler-workflow.json
{
  "name": "Predictive Agent Alert Handler",
  "nodes": [
    {
      "id": "node-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-alert",
        "responseMode": "lastNode",
        "options": {}
      },
      "webhookId": "agent-alert-001"
    },
    {
      "id": "node-switch",
      "name": "Switch Action Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [460, 300],
      "parameters": {
        "mode": "rules",
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-scale",
              "leftValue": "={{ $json.action }}",
              "rightValue": "scale_up",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "id": "cond-cache",
              "leftValue": "={{ $json.action }}",
              "rightValue": "clear_cache",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "id": "cond-alert",
              "leftValue": "={{ $json.action }}",
              "rightValue": "alert_team",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "id": "cond-restart",
              "leftValue": "={{ $json.action }}",
              "rightValue": "restart_service",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      }
    },
    {
      "id": "node-scale",
      "name": "HTTP Scale Up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 100],
      "parameters": {
        "method": "POST",
        "url": "https://autoscaling.amazonaws.com/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"Action\": \"SetDesiredCapacity\", \"AutoScalingGroupName\": \"my-web-asg\", \"DesiredCapacity\": 4}",
        "options": {}
      }
    },
    {
      "id": "node-cache",
      "name": "HTTP Flush Cache",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 240],
      "parameters": {
        "method": "POST",
        "url": "https://your-site.com/api/cache/flush",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Cache-Key", "value": "your-secret-here" }
          ]
        },
        "sendBody": false,
        "options": {}
      }
    },
    {
      "id": "node-slack",
      "name": "HTTP Slack Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 380],
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"text\": \":rotating_light: ALERT\\nAction: {{ $('Webhook Trigger').item.json.action }}\\nReason: {{ $('Webhook Trigger').item.json.triggered_by }}\"}",
        "options": {}
      }
    },
    {
      "id": "node-restart",
      "name": "HTTP Restart Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 520],
      "parameters": {
        "method": "POST",
        "url": "https://your-site.com/api/service/restart",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"service\": \"web\", \"strategy\": \"rolling\"}",
        "options": {}
      }
    },
    {
      "id": "node-result",
      "name": "POST Result to FastAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/webhooks/n8n/action-result",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"action\": \"{{ $('Webhook Trigger').item.json.action }}\", \"status\": \"executed\", \"timestamp\": \"{{ $now.toISO() }}\"}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Switch Action Type", "type": "main", "index": 0 }]]
    },
    "Switch Action Type": {
      "main": [
        [{ "node": "HTTP Scale Up",        "type": "main", "index": 0 }],
        [{ "node": "HTTP Flush Cache",     "type": "main", "index": 0 }],
        [{ "node": "HTTP Slack Notify",    "type": "main", "index": 0 }],
        [{ "node": "HTTP Restart Service", "type": "main", "index": 0 }]
      ]
    },
    "HTTP Scale Up":        { "main": [[{ "node": "POST Result to FastAPI", "type": "main", "index": 0 }]] },
    "HTTP Flush Cache":     { "main": [[{ "node": "POST Result to FastAPI", "type": "main", "index": 0 }]] },
    "HTTP Slack Notify":    { "main": [[{ "node": "POST Result to FastAPI", "type": "main", "index": 0 }]] },
    "HTTP Restart Service": { "main": [[{ "node": "POST Result to FastAPI", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
